<!--books/show.html 投稿詳細画面-->
<div class='container'>
  <div class='row'>
    <!--左側部分-->
    <div class='col-md-3'>
      <!--ユーザー情報-->
      <h2>User info</h2>
      <%= render 'users/info', user: @book.user %>
      <!--新規投稿欄-->
      <h2 class="mt-3">New book</h2>
      <%= render 'form', book: Book.new %>
    </div>

    <!--右側部分-->
    <div class='col-md-8 offset-md-1'>
      <!--投稿詳細-->
  		<h2>Book detail</h2>
  		<table class='table'>
  		  <tr>
          <td><%= link_to(@book.user) do %>
            <%= image_tag @book.user.get_profile_image, size:"50x50" %><br>
            <%= @book.user.name %>
            <% end %>
          </td>
          <td><%= link_to @book.title, @book %></td>
          <td><%= @book.body %></td>

          <!--カテゴリタグ-->
          <td>
          　<% if @book.category.present? %>
          　　　<%=link_to@book.category,tagsearches_search_path(content:@book.category)%>
          　<% end %>
          </td>

          <!--いいね機能の非同期通信化-->
          <td id="favorite_buttons_<%= @book.id %>">
            <%= render "favorites/btn", book: @book %>
          </td>
          <td>
            <a>コメント数:<span id="comment_count"><%= @book.book_comments.count %></span></a>
            <a><%= render "static_rate", book: @book %></a>
          </td>

          <% if @book.user == current_user %>
            <td>
              <%= link_to 'Edit', edit_book_path(@book), class: "btn btn-sm btn-success edit_book_#{@book.id}" %>
              <%= link_to 'Destroy', @book, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_book_#{@book.id}"%>
            </td>
          <% end %>
        </tr>
      </table>

      <!--コメント機能-->
      <div id="book_comments">
        <%= render "book_comments/index", book: @book %>
      </div>

      <div id="book_form">
        <%= render "book_comments/form", book: @book, book_comment: @book_comment %>
      </div>

    </div>

  </div>
</div>